In [1]:
import pandas as pd
import numpy as np

In [4]:
df_1 = pd.read_excel(r'C:\Users\Connie Wu\Dropbox\EVERYDAYS FINAL SHIPMENT INFO\2021\M1 monthly report.xlsx')
df_1.head()

,Order.NO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Products,quantity,weight,DCountry,Delivery Company,Unnamed: 9,...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,"items in thisorder, Loop","items in thisshipment, loop",Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,Z453740,FULL,IF,USA,"S1148,Docetaxel,10mM/1mL,1","06-14支,\n08-60支,\n","06-2195mg,\n08-5075mg,\n",United States,CYPRE,NaN,...,NaN,NaN,Z453740S114810MM/1ML1,NaN,1,1,NaN,NaN,NaN,1.0
1,Z453656,FULL,IF,USA,"S8939,Mizagliflozin,5mg,1","01-10支,\n",NaN,United States,University of Hawaii JABSOM,NaN,...,NaN,NaN,Z453656S89395MG1,NaN,3,3,NaN,NaN,NaN,3.0
2,Z453656,FULL,IF,USA,"S8103,Sotagliflozin(LX4211),5mg,1","01-12支,\n",NaN,United States,NaN,NaN,...,NaN,NaN,Z453656S81035MG1,NaN,3,3,NaN,NaN,NaN,3.0
3,Z453656,FULL,IF,USA,"S8452,BAY-876,5mg,1","01-18支,\n","01-970mg,\n",United States,NaN,NaN,...,NaN,NaN,Z453656S84525MG1,NaN,3,3,NaN,NaN,NaN,3.0
4,Z453605,FULL,IF,USA,"S4570,Halothane,100mg,1","01-4支,\n","01-3480mg,\n",United States,Georgia Tech,NaN,...,NaN,NaN,Z453605S4570100MG1,NaN,1,1,NaN,NaN,NaN,1.0

In [5]:
df_1.columns

Index(['Order.NO', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Products',
       'quantity', 'weight', 'DCountry', 'Delivery Company', 'Unnamed: 9',
       'Delivery Condition', 'Unnamed: 11', 'Unnamed: 12', 'Checked', '笔记本',
       '冰盒', 'ITEMS IN THIS ORDER', 'items with order', 'Unnamed: 18',
       'ORDER SEQUENCE/TASK', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Order No', 'Unnamed: 27',
       'items in this order,countif', 'whether CTU', 'CTU Date',
       'waiting for ship?', 'items yet to ship, countif', 'Unnamed: 33',
       'Unnamed: 34', 'items in this shipment, countif', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'items in thisorder, Loop', 'items in thisshipment, loop',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58'],
      dtype='object')

In [ ]:
# Subset the useful columns in the dataset 
df_1 = df_1[['Order.NO', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Products',
       'quantity', 'weight', 'DCountry', 'Delivery Company','whether CTU']]