In [1]:
import pandas as pd
import numpy as np

In [4]:
df_1 = pd.read_excel(r'C:\Users\Connie Wu\Dropbox\EVERYDAYS FINAL SHIPMENT INFO\2021\M1 monthly report.xlsx')
df_1.head()

,Order.NO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Products,quantity,weight,DCountry,Delivery Company,Unnamed: 9,...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,"items in thisorder, Loop","items in thisshipment, loop",Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,Z453740,FULL,IF,USA,"S1148,Docetaxel,10mM/1mL,1","06-14支,\n08-60支,\n","06-2195mg,\n08-5075mg,\n",United States,CYPRE,NaN,...,NaN,NaN,Z453740S114810MM/1ML1,NaN,1,1,NaN,NaN,NaN,1.0
1,Z453656,FULL,IF,USA,"S8939,Mizagliflozin,5mg,1","01-10支,\n",NaN,United States,University of Hawaii JABSOM,NaN,...,NaN,NaN,Z453656S89395MG1,NaN,3,3,NaN,NaN,NaN,3.0
2,Z453656,FULL,IF,USA,"S8103,Sotagliflozin(LX4211),5mg,1","01-12支,\n",NaN,United States,NaN,NaN,...,NaN,NaN,Z453656S81035MG1,NaN,3,3,NaN,NaN,NaN,3.0
3,Z453656,FULL,IF,USA,"S8452,BAY-876,5mg,1","01-18支,\n","01-970mg,\n",United States,NaN,NaN,...,NaN,NaN,Z453656S84525MG1,NaN,3,3,NaN,NaN,NaN,3.0
4,Z453605,FULL,IF,USA,"S4570,Halothane,100mg,1","01-4支,\n","01-3480mg,\n",United States,Georgia Tech,NaN,...,NaN,NaN,Z453605S4570100MG1,NaN,1,1,NaN,NaN,NaN,1.0

In [5]:
df_1.columns

Index(['Order.NO', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Products',
       'quantity', 'weight', 'DCountry', 'Delivery Company', 'Unnamed: 9',
       'Delivery Condition', 'Unnamed: 11', 'Unnamed: 12', 'Checked', '笔记本',
       '冰盒', 'ITEMS IN THIS ORDER', 'items with order', 'Unnamed: 18',
       'ORDER SEQUENCE/TASK', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Order No', 'Unnamed: 27',
       'items in this order,countif', 'whether CTU', 'CTU Date',
       'waiting for ship?', 'items yet to ship, countif', 'Unnamed: 33',
       'Unnamed: 34', 'items in this shipment, countif', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'items in thisorder, Loop', 'items in thisshipment, loop',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58'],
      dtype='object')

In [6]:
# Subset the useful columns in the dataset 
df_1 = df_1[['Order.NO', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Products',
       'quantity', 'weight', 'DCountry', 'Delivery Company','whether CTU']]
df_1

,Order.NO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Products,quantity,weight,DCountry,Delivery Company,whether CTU
0,Z453740,FULL,IF,USA,"S1148,Docetaxel,10mM/1mL,1","06-14支,\n08-60支,\n","06-2195mg,\n08-5075mg,\n",United States,CYPRE,NaN
1,Z453656,FULL,IF,USA,"S8939,Mizagliflozin,5mg,1","01-10支,\n",NaN,United States,University of Hawaii JABSOM,NaN
2,Z453656,FULL,IF,USA,"S8103,Sotagliflozin(LX4211),5mg,1","01-12支,\n",NaN,United States,NaN,NaN
3,Z453656,FULL,IF,USA,"S8452,BAY-876,5mg,1","01-18支,\n","01-970mg,\n",United States,NaN,NaN
4,Z453605,FULL,IF,USA,"S4570,Halothane,100mg,1","01-4支,\n","01-3480mg,\n",United States,Georgia Tech,NaN
...,...,...,...,...,...,...,...,...,...,...
4495,Z461251,FULL,IF,USA,"S2849,SB269970HCl,10mM/1mL,1","01-4支,\n","01-2980mg,\n",United States,NaN,NaN
4496,Z461251,FULL,IF,USA,"S2663,WAY-100635Maleate,10mM/1mL,1","01-6支,\n","01-1500mg,\n",United States,NaN,NaN
4497,Z461251,FULL,IF,USA,"S3201,Trifluoperazine2HCl,10mM/1mL,1","01-1支,\n","01-2155mg,\n",United States,NaN,NaN
4498,Order.NO,NaN,NaN,NaN,Products,quantity,weight,DCountry,Delivery Company,whether CTU
4499,Z461272,FULL,IF,USA,"S8771,IDF-11774,25mg,1","01-3支,\n01-5支,\n",NaN,United States,Thomas Jefferson University,NaN

In [7]:
df_1['whether CTU'].value_counts()

whether CTU    221
CTU            219
Name: whether CTU, dtype: int64

In [8]:
# check the order required CTU

df_1[df_1['whether CTU']=='CTU']

,Order.NO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Products,quantity,weight,DCountry,Delivery Company,whether CTU
74,Z451484,FULL,IF,CTU12-22 CN TO US.xls,"S6259,Ureidosuccinicacid,25mg,1",NaN,NaN,United States,M.D. Anderson Cancer Center,CTU
75,Z451478,FULL,IF,CTU12-22 CN TO US.xls,"S2184,WDR5-0103,5mg,1",NaN,NaN,United States,Baylor College of Medicine,CTU
79,Z451465,FULL,IF,CTU12-22 CN TO US.xls,"S6841,RU.521,5mg,1",NaN,NaN,United States,Harvard University,CTU
83,Z451431,FULL,IF,CTU12-22 CN TO US.xls,"A2013,Durvalumab(anti-PD-L1),5mg,1(带干冰)",NaN,NaN,United States,NaN,CTU
84,Z451430,FULL,IF,CTU12-22 CN TO US.xls,"S2799,Daporinad(FK866,APO866),1g,1",NaN,NaN,United States,Yale Univ-Med School Receiving,CTU
...,...,...,...,...,...,...,...,...,...,...
3954,Z458111,FULL,IF,CTU1-20 CN TO US.xls,"S8586,Nedisertib(M3814),5mg,1",NaN,NaN,United States,Icahn School of Medicine - Mt Sinai,CTU
3955,Z458104,FULL,IF,CTU1-20 CN TO US.xls,"S0707,Silmitasertibsodiumsalt,5mg,1",NaN,NaN,United States,Dana Farber Cancer Inst Inc,CTU
3956,Z458090,FULL,IF,CTU1-22 CN TO US.xls,"S6701,CornOil,100mL,1",NaN,NaN,United States,Indiana University,CTU
3957,Z458084,FULL,IF,CTU1-20 CN TO US.xls,"S9681,MSA-2,5mg,1",NaN,NaN,United States,The Wistar Institute,CTU
3958,Z458052,FULL,IF,CTU1-20 CN TO US.xls,"S1045,TrichostatinA(TSA),145mg,1",NaN,NaN,United States,Indiana University,CTU