In [ ]:
# Sql 
Create table flights(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    origin TEXT NOT NULL,
    destination TEXT NOT NULL,
    duration INTEGER NOT NULL
);

In [ ]:
#INSERT
INSERT INTO flights
    (origin, destination, duration)
    VALUES ("New York","London", 415);

In [ ]:
# Retrieve 
SELECT * FROM flights;

In [ ]:
SELECT origin, destination FROM flights;

In [ ]:
SELECT * FROM flights WHERE id = 3;

In [ ]:
# SQL Injection 
# Race