In [ ]:
# Sql 
Create table flights(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    origin TEXT NOT NULL,
    destination TEXT NOT NULL,
    duration INTEGER NOT NULL
);

In [ ]:
#INSERT
INSERT INTO flights
    (origin, destination, duration)
    VALUES ("New York","London", 415);